.card-last-elts {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.5rem;
}

.card-last-elt {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
 }


.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-title {
     margin-bottom: 0.5rem;
}

.card-text:last-child {
    margin-bottom: 0;
}

