<div class="assurance">
    <div class="card bg-{{color}} text-white text-center">
        <div class="card-body">
            <a href="{{lien}}" class="btn btn-{{color}}">{{text}}</a>
        </div>
    </div>
</div>
