<nav class="navbar">
    <div class="navbar-items">         
            <a href="{{ path('homepage') }}">LOGO</a>
            <a href="{{ path('book_list') }}">BARRE DE RECHERCHE</a>
            <a href="{{ path('book_create') }}">PROPOSER UN LIVRE</a>
            <a href="#">MA BIBLIOTHEQUE</a>
            <a href="#">MES RECETTES FETICHES <3</a>
            <a href="#">MON PROFIL</a>
            <a href="#">INSCRIPTION</a>
            <a href="#">LOGIN</a>
            <a href="#">LOGOUT</a>
    </div>
</nav>