<nav class="navbar">
    <div class="navbar-items">         
            <a href="#">LOGO</a>
            <a href="#">BARRE DE RECHERCHE</a>
            <a href="#">PROPOSER UN LIVRE</a>
            <a href="#">MA BIBLIOTHEQUE</a>
            <a href="#">MON PROFIL</a>
    </div>
</nav>